<div class="row">
	<md-button class="md-warn" ng-click="sair();"
		style="float:right; margin-top: 20px; color:rgba(0,0,0,0.54);">Sair</md-button>
	<md-content class="md-padding" style="background:none">
	<div class="col-dm-10">
		<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
			<md-nav-item md-nav-click="irPagina('admin')" name="admin">Ver Todos Lotes</md-nav-item>
			<md-nav-item md-nav-click="irPagina('historico')" name="historico">Ver Lotes Por Data</md-nav-item>
		</md-nav-bar>
	</div>
	</md-content>
</div>