<div ng-include=" 'web_app/html/view/admin.nav.view.html' "></div>
<div class="container">
	<div>
		<h2>lotes por data view</h2>
		<md-content layout-padding>
		<div layout-gt-xs="row">
			<div flex-gt-xs>
				<h5>Escolha uma data no calendario</h5>
				<md-datepicker ng-model="dataPesquisa" md-placeholder="Enter date"></md-datepicker>
				<md-button class="md-fab md-mini md-primary" aria-label="More" ng-click="buscarLotesPorData(dataPesquisa)">
			        <md-icon md-svg-icon="web_app/img/icons/search-icon.svg"></md-icon>
			    </md-button>
			</div>
		</div>
		</md-content>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>CODIGO</th>
					<th>PRODUTO</th>
					<th>LANCE INICIAL</th>
					<th>VALOR DE ARREMATE</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="lote in historico">
					<th scope="row">{{lote.code}}</td>
					<td>{{lote.product}}</td>
					<td>{{lote.initialValue | currency}}</td>
					<td>{{lote.finalValue | currency}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>